body {
	margin: 0 auto;
	margin-top: 10px;
	width: 900px;
	font-size: 13px;
	font-family: Arial;
	color: #DDDDDD;
	background-color: black;
}

#scene {
	width: 500px;
	height: 500px;
	border: 1px dashed;
	float: left;
}

#rendered {
	width: 0px;
	height: 0px;
	border: 1px dashed;
}

#menu {
	width: 300px;
	height: 500px;
	float: right;
}

#menu table {
	padding-bottom: 50px;
}
